.tech-icon {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.techs{
    background: #0a192f;
    width: 100%;
    min-height: 50vh;
    color:white;
}

.tech-title{
    padding: 35px 44px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.tech-header{
    padding-left: 45px;
}


.tech-card{
    background-color: #395482 !important;
    color: #fff !important;
}

.tilt {
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out;
}
