.tech-icon {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.techs{
    background: #0a192f;
    width: 100%;
    min-height: 100vh;
    color:white;
}

.project-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.tech-card{
    background-color: #395482 !important;
    color: #fff !important;
}

.tilt {
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out;
}
